@use '../base/variables' as *;


.content-block {
    border-bottom: 1px solid $c-neutral-200;

    .container__layout {
        padding-block: 4.8rem;

        @media (min-width: $breakpoint-md) {
            padding-block: 8rem;
        }

        @media (min-width: $breakpoint-lg) {
            padding-block: 9.6rem;
        }
    }

    &__row {
        display: grid;
        gap: 4rem;

        @media (min-width: $breakpoint-lg) {
            grid-template-columns: minmax(0, 376px) 1fr;
            gap: 6.4rem;
        }
    }

    &__title {
        color: $c-neutral-900;
    }

    &__item {
        margin-block-end: 2.4rem;

        &:last-child {
            margin-block-end: 0;
        }

        @media (min-width: $breakpoint-lg) {
            margin-block-end: 3.2rem;
        }

        @media (min-width: $breakpoint-lg) {
            margin-block-end: 4.8rem;
        }

        &-title-wrapper {
            display: flex;
            align-items: baseline;
            gap: 2.4rem;
            margin-block-end: 1.2rem;

            .icon {
                flex-shrink: 0;
            }
        }

        &-title {
            color: $c-neutral-900;
        }

        &-text {
            padding-inline-start: 4.8rem;
        }
    }
}
