@use '../base/variables' as *;

.cta-section {
    text-align: center;

    .container__layout {
        padding-block-start: 6.4rem;
        padding-block-end: 0;

        @media (min-width: $breakpoint-md) {
            padding-block-start: 8rem;
        }

        @media (min-width: $breakpoint-lg) {
            padding-block: 0;
        }
    }

    &__content {
        position: relative;
        background-color: $c-neutral-200;
        border-radius: $b-radius-16;
        padding-block: 4.8rem;
        padding-inline: 1.6rem;
        overflow: hidden;
        z-index: 2;

        @media (min-width: $breakpoint-md) {
            padding-block: 8rem;
        }

        @media (min-width: $breakpoint-lg) {
            padding-block: 9.6rem;
        }

        .button {
            margin-block-start: 3.2rem;

            @media (min-width: $breakpoint-md) {
                margin-block-start: 4rem;
            }
        }
    }

    &__ilustration {
        position: absolute;
        display: none;
        z-index: -1;

        @media (min-width: $breakpoint-md) {
            display: block;
        }

        &--left {
            @media (min-width: $breakpoint-md) {
                width: 179px;
                bottom: -56px;
                left: 0px;
            }

            @media (min-width: $breakpoint-lg) {
                width: 240px;
                bottom: -20px;
                left: 0px;
            }
        }

        &--right {
            @media (min-width: $breakpoint-md) {
                width: 171px;
                top: -48px;
                right: -12px;
            }

            @media (min-width: $breakpoint-lg) {
                width: 260px;
                top: auto;
                bottom: 30px;
                right: -12px;
            }
        }
    }

    &__title {
        color: $c-neutral-900;
        margin-block-end: 1.2rem;
    }
}
