@use '../base/variables' as *;

.filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-block-end: 2.4rem;

    &__sort {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.2rem;

        @media (min-width: $breakpoint-md) {
            flex-direction: row;
            width: auto;
            gap: 1.6rem;
        }
    }

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
    }
}
