@use '../base/variables' as *;
@use '../base/typography';

.footer {
    .container__layout {
        padding-block-start: 3.2rem;
        padding-block-end: 2rem;

        @media (min-width: $breakpoint-md) {
            padding-block: 4rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 2.4rem;

        @media (min-width: $breakpoint-md) {
            flex-direction: row;
        }
    }

    &__social-links {
        display: flex;
        align-items: center;
        order: -1;
        column-gap: 2.4rem;

        @media (min-width: $breakpoint-md) {
            order: 0;
        }
    }

    &__social-link {
        transition: $transition__default ease-in-out;

        &:hover {
            opacity: 0.7;
        }

        &:focus,
        &:focus-within {
            outline: 3px solid $c-neutral-900;
        }

        svg {
            color: $c-neutral-900;
        }
    }
}
