@use '../base/variables' as *;
@use '../base/typography';

.recipe-cards {
    display: grid;
    align-items: stretch;
    gap: 3.2rem;

    @media (min-width: $breakpoint-lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: $c-neutral-0;
    border: 1px solid $c-neutral-200;
    border-radius: $b-radius-10;
    box-shadow: 0 8px 16px -9px rgba(22, 58, 55, 0.16);
    padding: 0.8rem;

    &__img {
        border-radius: $b-radius-10;
        margin-block-end: 1.6rem;
    }

    &__title {
        color: $c-neutral-900;
        font-weight: $fw-bold;
        margin-block-end: 1rem;
    }

    &__text {
        @include typography.apply-text-style('recipe-card-text'); // Použije 16px
        font-weight: $fw-medium;
        margin-block-end: 1.6rem;
    }

    &__meta {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem 1.6rem;
        margin-block-end: 1.6rem;
    }

    &__meta-item {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        &:last-child {
            flex-basis: 100%;
        }
    }

    &__meta-info {
        @include typography.apply-text-style('recipe-card-text'); // Použije 16px
        font-weight: $fw-medium;
        color: $c-neutral-900;
    }

    .button {
        margin-top: auto;
    }
}
