@use '../base/variables' as *;

.related-products {
    border-bottom: 1px solid $c-neutral-200;

    .container__layout {
        padding-block-start: 4.8rem;
        padding-block-end: 4.8rem;

        @media (min-width: $breakpoint-lg) {
            padding-block-start: 6.4rem;
            padding-block-end: 9.6rem;
        }
    }

    &__title {
        color: $c-neutral-900;
        margin-block-end: 2.4rem;
    }

    .recipe-cards {
        grid-template-columns: 100%;

        @media (min-width: $breakpoint-lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
