/* ============================================
   Modern Reset (SCSS)
   - low-specificity (prefer :where)
   - a11y-friendly focus
   - respects prefers-reduced-motion
   ============================================ */
@use '../base/variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

:where(h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $c-neutral-800;
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $c-neutral-100;
    margin: 0;
}

:where(img, picture, video, canvas, svg) {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:focus-visible {
        outline: 3px solid $c-neutral-900;
        border-radius: $b-radius-4;
    }
}

:where(ul, ol) {
    list-style: none;
    margin: 0;
    padding: 0;
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

::selection {
    background-color: $c-neutral-200;
}

[data-bg='true'] ::selection {
    color: $c-neutral-0;
    background-color: $c-neutral-600;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
        scroll-behavior: auto !important;
    }
}

:where(h1, h2, h3, h4, h5, h6, p) {
    overflow-wrap: anywhere;
}

svg {
    display: block;
    height: auto;
}
