/* -----------------------------------------------------
*\ Fonts \*
 ----------------------------------------------------- */
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;

/* -----------------------------------------------------
*\ Font sizes \*
 ----------------------------------------------------- */

/* -----------------------------------------------------
*\ Colors \*
 ----------------------------------------------------- */
/* Neutral ----------------------------------------- */
$c-neutral-0: #ffffff;
$c-neutral-50: #faf9f9;
$c-neutral-100: #f6f5f1;
$c-neutral-200: #e0e6e3;
$c-neutral-300: #d0dcd9;
$c-neutral-600: #395852;
$c-neutral-800: #395852;
$c-neutral-900: #163a34;

$c-strong-950: #293241;

/* Orange ----------------------------------------- */
$c-orange-500: #fe9f6b;

/* Teal ----------------------------------------- */
$c-teal-500: #49ac9b;

/* Indigo ----------------------------------------- */
$c-indigo-500: #697ddb;

/* -----------------------------------------------------
*\ Font weight \*
 ----------------------------------------------------- */
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

/* -----------------------------------------------------
*\ Border radius \*
 ----------------------------------------------------- */
$b-radius-0: 0px;
$b-radius-3: 3px;
$b-radius-4: 4px;
$b-radius-6: 6px;
$b-radius-8: 8px;
$b-radius-10: 10px;
$b-radius-12: 12px;
$b-radius-16: 16px;
$b-radius-20: 20px;
$b-radius-24: 24px;
$b-radius-pill: 999px;
$b-radius-full: 50%;

/* -----------------------------------------------------
*\ Breakpoints \*
 ----------------------------------------------------- */
$breakpoint-lg: 960px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/* -----------------------------------------------------
*\ Transition \*
 ----------------------------------------------------- */
$transition__default: 0.3s;
