@use 'base/variables';
@use 'base/reset';
@use 'base/typography';
@use 'base/elements';
@use 'layouts/layout';

@use 'components/header';
@use 'components/footer';
@use 'components/button';

@use 'components/hero';
@use 'components/about-hero';
@use 'components/beyond-the-plate';
@use 'components/benefits';
@use 'components/feature';
@use 'components/cta-section';
@use 'components/content-block';
@use 'components/recipes';
@use 'components/recipe-card';
@use 'components/recipe-detail';
@use 'components/related-products';
@use 'components/search-bar';
@use 'components/filters';
@use 'components/filter-dropdown';
